services:
  # =========================================
  # 1. ROS 1 底層控制 (control)
  # =========================================
  control:
    platform: ${ARCH:-linux/amd64}
    build:
      context: ./control
      dockerfile: Dockerfile
    image: agx_ros/control
    container_name: control
    network_mode: host
    privileged: true
    environment:
      - ROS_MASTER_URI=http://${HOST_IP}:11311
      - ROS_IP=${HOST_IP}
      - DISPLAY=${DISPLAY}
      - XAUTHORITY=/tmp/.docker.xauth
    volumes:
      - /dev:/dev
      - /etc/localtime:/etc/localtime:ro # 同步主機時間
      - /etc/timezone:/etc/timezone:ro
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /tmp/.docker.xauth:/tmp/.docker.xauth:rw
      - /home/systemlabagx/disk/Lun_RL_ws/src/six_wheels_teleop:/root/keyboard_control_ws/src/six_wheels_teleop
    entrypoint: ["/root/entrypoint.sh"]
    tty: true
    stdin_open: true

  # =========================================
  # 2. ROS 1 <-> ROS 2 橋樑 (Bridge)
  # =========================================
  bridge:
    platform: ${ARCH:-linux/amd64}
    build:
      context: ./bridge
      dockerfile: Dockerfile
    image: agx_ros/bridge:latest
    container_name: bridge
    restart: on-failure
    network_mode: host
    environment:
      - ROS_MASTER_URI=http://${HOST_IP}:11311
      - ROS_HOSTNAME=${HOST_IP}
      - ROS_DOMAIN_ID=0     
    tty: true
    stdin_open: true
    command: >
      bash -c "source /opt/ros/noetic/setup.bash &&
               source /opt/ros/foxy/setup.bash &&
               ros2 run ros1_bridge dynamic_bridge --bridge-all-1to2-topics --bridge-all-2to1-topics"

  # =========================================
  # 3. ROS 2 高階規劃 (Planning)
  # =========================================
  planning:
    build:
      context: ./planning  
      dockerfile: Dockerfile
    image: agx_ros/planning:latest
    container_name: planning
    # profiles: ["agx_mode"] 
    network_mode: host
    privileged: true
    runtime: nvidia
    
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ROS_HOSTNAME=${HOST_IP}
      - DISPLAY=${DISPLAY}
      - XAUTHORITY=/tmp/.docker.xauth
    
    volumes:
      - /dev:/dev
      - /run/jtop.stats.sock:/run/jtop.stats.sock 
      - /etc/localtime:/etc/localtime:ro 
      - /etc/timezone:/etc/timezone:ro
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /tmp/.docker.xauth:/tmp/.docker.xauth:rw
    tty: true
    stdin_open: true

  # =========================================
  # 4. 資料視覺化 (Foxglove)
  # =========================================
  visualization:
    build:
      context: ./foxglove
      dockerfile: Dockerfile
    image: agx_ros/visualization:latest
    container_name: foxglove
    network_mode: host
    environment:
      - ROS_DOMAIN_ID=0
      - ROS_HOSTNAME=${HOST_IP}
    restart: unless-stopped
    command: >
      /bin/bash -c "source /opt/ros/humble/setup.bash &&
      ros2 run foxglove_bridge foxglove_bridge --ros-args -p send_buffer_limit:=100000000"
      
  # =========================================
  # 5. Isaac ROS 視覺加速服務
  # =========================================
  isaac_ros:
    build:
      context: ./vlm
      dockerfile: Dockerfile
    image: agx_ros/isaac_ros:latest
    container_name: isaac_ros
    profiles: ["agx_mode"]
    network_mode: host
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - ISAAC_ROS_WS=/workspaces/isaac_ros-dev
      - DISPLAY=${DISPLAY}
      - XAUTHORITY=/tmp/.docker.xauth
    privileged: true
    runtime: nvidia
    volumes:
      - /dev:/dev
      - /run/jtop.stats.sock:/run/jtop.stats.sock
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /tmp/.docker.xauth:/tmp/.docker.xauth:rw
      - /home/systemlabagx/disk/workspaces/isaac_ros-dev:/workspaces/isaac_ros-dev
    stdin_open: true
    tty: true
    command: /bin/bash -c "while true; do sleep 3600; done"
